### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
pymoli_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pymoli_df = pd.read_csv(pymoli_file)

## Player Count

* Display the total number of players

In [16]:
total_players = pymoli_df["SN"].nunique() #I prefer to use this method to quickly eliminate any Nan if there is any
#total_players = len(pymoli_df['SN'].unique()) we can also us this
print('Total number of players:', total_players)

Total number of players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
# Run basic calculations to obtain number of unique items, average price, etc
number_of_unique_items = pymoli_df["Item ID"].nunique()
average_price = (pymoli_df["Price"]).mean()
number_of_purchases = (pymoli_df["Purchase ID"]).count()
total_revenue = (pymoli_df["Price"]).sum()

# Create a summary data frame to hold the results
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

# Display the summary data frame
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [18]:

# Percentage and Count of Male Players
gender = pymoli_df.groupby("Gender")

# Count the total of screen names "SN" by gender
total_gender = gender.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = total_gender / total_players * 100

# Create data frame with obtained values
gender_demographics = pd.DataFrame({"Total Count": total_gender, "Percentage of Players": percentage_of_players})

# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
# total purchase count by gender 
purch_count = gender["Purchase ID"].count()

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# purchase price by gender on average
purch_price_avg = gender["Price"].mean()
# purchase total by gender 
purch_total_avg = gender["Price"].sum()
# average purchase total by gender divivded by purchase count by unique shoppers
purch_per_person_avg = purch_total_avg/total_gender

# Create a summary data frame to hold the results
purchase_gen_data = pd.DataFrame({"Purchase Count": purch_count, 
                                    "Average Purchase Price": purch_price_avg,
                                    "Average Purchase Value":purch_total_avg,
                                    "Avg Purchase Total per Person": purch_per_person_avg})

# Display the summary data frame
purchase_gen_data["Average Purchase Price"] = purchase_gen_data["Average Purchase Price"].map("${:.2f}".format)
purchase_gen_data["Average Purchase Value"] = purchase_gen_data["Average Purchase Value"].map("${:.2f}".format)
purchase_gen_data["Avg Purchase Total per Person"] = purchase_gen_data["Avg Purchase Total per Person"].map("${:.2f}".format)
purchase_gen_data = purchase_gen_data[["Purchase Count", "Average Purchase Price", "Average Purchase Value", "Avg Purchase Total per Person"]]
purchase_gen_data

,Purchase Count,Average Purchase Price,Average Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
# Binning
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
#Establish bins for ages
segment = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']

# Categorize the existing players using the age bins. Hint: use pd.cut()
pymoli_df["Age Group"] = pd.cut(pymoli_df["Age"],bins, labels=segment)
pymoli_df

#Calculate the numbers and percentages by age group

# Create new data frame and group by "Age Group"
age_group = pymoli_df.groupby("Age Group")
# Count total players by age category
count_age = age_group["SN"].nunique()
# Calculate percentages by age category 
percentage_by_age = (count_age/total_players) * 100

# Create data frame with obtained values
age_distr = pd.DataFrame({"Total Count": count_age, "Percentage of Players": percentage_by_age})

# Format percentage with two decimal places 
age_distr.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
#Bin the purchase_data data frame by age
# Count purchases by age
purch_countbyage = age_group["Purchase ID"].count()

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
# average purchase price
purch_price_ave = age_group["Price"].mean()

# total purchase value
total_purchase_value = age_group["Price"].sum()

# average purchase per person
purch_per_person_age = total_purchase_value/count_age

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purch_countbyage,
                                 "Average Purchase Price": purch_price_ave,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": purch_per_person_age})

age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
#Run basic calculations to obtain the results in the table below
#Use Screen Names to group the data
most_spender = pymoli_df.groupby("SN")

# count
count_spender_purch = most_spender["Purchase ID"].count()

# average purchase by name 
purch_price_spender_avg = most_spender["Price"].mean()

# purchase total 
purch_total_spender = most_spender["Price"].sum()

# Create a summary data frame to hold the results
most_spenders = pd.DataFrame({"Purchase Count": count_spender_purch,
                             "Average Purchase Price": purch_price_spender_avg,
                             "Total Purchase Value":purch_total_spender})

# Sort the total purchase value column in descending order
formatted_spenders = most_spenders.sort_values(["Total Purchase Value"], ascending=False).head(10)

# Display a preview of the summary data frame
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
# data frame with items related information 
item_s = pymoli_df[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name
item_group = item_s.groupby(["Item ID","Item Name"])

# Perform calculations to obtain purchase count, item price, and total purchase value
purch_item = item_group["Price"].count()
purch_value = (item_group["Price"].sum()) 
item_price = purch_value/purch_item

# Create a summary data frame to hold the results
most_popular_items = pd.DataFrame({"Purchase Count": purch_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purch_value})

# Sort the purchase count column in descending order
popular_items = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Display a preview of the summary data frame
popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [24]:
# Sort the above table by total purchase value in descending order
popular_items = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Display a preview of the data frame
popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})